# Q1.

In [2]:
str = 'hello'
lst = [1,2,3,4,5]
f = 0.35
t = (2,3,4,5)

# Q2.

i = string
ii = string
iii  = list
iv = int

 # Q3.

i    = operator performs division on two numbers
ii   = returns the remainder of the division 
iii  = returns the quotient of the division
iv   = raised the power of the operand

In [10]:
r = 10/3
r

3.3333333333333335

In [11]:
m = 10%3
m

1

In [12]:
q = 10//3
q

3

In [13]:
p = 2**4
p

16

# Q4.

In [15]:
l = [1,2,3,0.5,'sudh','hello','data',True,'A',False]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'bool'>

# Q5.

In [18]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))
count = 0

while A >= B:
    A = A - B
    count += 1

if A == 0:
    print(f"{A} is purely divisible by {B}, and it can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}. The quotient is {count} and the remainder is {A}.")

Enter the value of A:  12
Enter the value of B:  2

0 is purely divisible by 2, and it can be divided 6 times.

# Q6.

In [20]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in l:
    if i%3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

# Q7.

Mutable Data Types : 
    
    - can be modified or changed after creation
    - Examples = lists , dictionaries and sets.
    
Immutable Data Types : 
    
    - cannot be modified or changed after creation
    - Examples = integers , floats , strings and tuples.

In [21]:
mutable_list = [1, 2, 3]
print("Original list:", mutable_list)

mutable_list[0] = 99
print("Modified list:", mutable_list)

Original list: [1, 2, 3]
Modified list: [99, 2, 3]

In [22]:
immutable_tuple = (1, 2, 3)
print("Original tuple:", immutable_tuple)

immutable_tuple[0] = 99

Original tuple: (1, 2, 3)

TypeError: 'tuple' object does not support item assignment